
<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Register</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/images/favicon.svg}" rel="shortcut icon" type="image/x-icon">

    <!-- ========================= CSS here ========================= -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/LineIcons.3.0.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>

<body>
<th:block th:replace="~{/layout/menu :: setContent(~{this::content} )}">

    <th:block th:fragment="content"/>
    <!--[if lte IE 9]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
    </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

</th:block>

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Registration</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/home"><i class="lni lni-home"></i> Home</a></li>
                    <li>Registration</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Account Register Area -->
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <div class="register-form">
                    <div class="title">
                        <h3>계정이 없으신가요?</h3>
                        <p style="margin-bottom: 10px;">회원 가입 하기</p>
                    </div>
                    <form class="row" th:action="@{/member/join}" th:object="${memberReqDto}" th:method="post">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-id">아이디</label>
                                <input class="form-control" type="text" id="reg-id" name="identity" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-name">이름</label>
                                <input class="form-control" type="text" id="reg-name" name="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-pass">비밀번호</label>
                                <input class="form-control" type="password" id="reg-pass" name="password" required>
                            </div>
                        </div>
<!--                        <div class="col-sm-6">-->
<!--                            <div class="form-group">-->
<!--                                <label for="reg-pass-confirm">비밀번호 확인</label>-->
<!--                                <input class="form-control" type="password" id="reg-pass-confirm" required>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-nickname">닉네임</label>
                                <input class="form-control" type="text" id="reg-nickname" name="nickname" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label style="margin-bottom: 8px;">성별</label><br/>
                                <input class="form-gender" type="radio" name="gender" value="male" required> 남성
                                <input class="form-gender" type="radio" name="gender" value="female" required> 여성
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label style="margin-bottom: 5px;" for="reg-birthdate">생년월일</label><br/>
                                <input class="form-control-sm" type="date" id="reg-birthdate" name="birthDate" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label style="margin-bottom: 8px;">피부 정보 입력</label><br/>
                                <p> 피부타입 <input type="radio" id="reg-tag" value="" required> </p>
                            </div>
                        </div>

                        <div class="button">
                            <button style="margin-top: 10px;" class="btn" type="submit">회원 가입</button>
                        </div>
                        <p class="outer-link">이미 계정이 있으신가요?<a href="/member/login">로그인</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Account Register Area -->

<!-- Start Footer Area -->
<th:block th:replace="~{/layout/footer :: setContent(~{this::content} )}">
    <th:block th:fragment="content"/>
</th:block>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/tiny-slider.js"></script>
<script src="assets/js/glightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
<script>
    function tag_set(){
        var pcolor = document.getElementById('pcolor').value;
        var skin_type = document.getElementById('skin_type').value;
        var skin_color = document.getElementById('skin_color').value;
    }
    $(document).ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault(); // 폼 제출을 방지하여 기본 동작을 중단합니다.

            // Ajax를 사용하여 서버에 요청을 보냅니다.
            $.ajax({
                url: $(this).attr("action"),
                method: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    // 성공적인 응답 처리
                    alert("회원가입이 완료되었습니다.");
                    // 홈 페이지로 리디렉션
                    window.location.href = "/home";
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 500) {
                        // 500 에러가 발생한 경우 경고창을 띄우고 페이지를 리로드합니다.
                        alert(error);
                        // $("input[name='identity']").val("");
                        // $("input[name='identity']").focus();
                        return;
                    }
                }
            });
        });
    });
</script>
</html>