<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>회원 정보 수정</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/images/favicon.svg}" rel="shortcut icon" type="image/x-icon">

    <!-- ========================= CSS here ========================= -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/LineIcons.3.0.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>

<body>
<th:block th:replace="~{/layout/menu :: setContent(~{this::content} )}">

    <th:block th:fragment="content"/>
    <!--[if lte IE 9]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
    </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
</th:block>

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">회원 정보 수정</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/home"><i class="lni lni-home"></i> Home</a></li>
                    <li>회원 정보 수정</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Account Update Area -->
<div class="account-login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <div class="register-form">
                    <div class="title">
                        <h3>회원 정보 수정</h3>
                        <p style="margin-bottom: 10px;">회원 정보 수정 페이지 입니다.</p>
                    </div>
                    <form id="updateMember" class="row" th:action="@{/member/update}" th:object="${memberReqDto}" th:method="post">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-id">아이디</label>
                                <!-- 아이디 입력 필드를 읽기 전용으로 설정 -->
                                <input class="form-control" type="text" id="reg-id" name="identity" th:value="${session.loginMember.identity}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-name">이름</label>
                                <input class="form-control" type="text" id="reg-name" name="name" th:value="${session.loginMember.name}" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-pass">비밀번호</label>
                                <input class="form-control" type="password" id="reg-pass" name="password" placeholder="비밀번호를 입력하세요" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reg-nickname">닉네임</label>
                                <input class="form-control" type="text" id="reg-nickname" name="nickname" th:value="${session.loginMember.nickname}" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label style="margin-bottom: 8px;">성별</label><br/>
                                <input class="form-gender" type="radio" name="gender" value="male" required> 남성
                                <input class="form-gender" type="radio" name="gender" value="female" style="margin-left: 20px;" required> 여성
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label style="margin-bottom: 5px;" for="reg-birthdate">생년월일</label><br/>
                                <input class="form-control-sm" type="date" id="reg-birthdate" name="birthDate" th:value="${session.loginMember.birthDate}" required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <p> 피부 색상
                                    <select id="skin_color" class="tag_info" style="margin-left: 20px;">
                                        <option value="13">13</option>
                                        <option value="17">17</option>
                                        <option value="21">21</option>
                                        <option value="23">23</option>
                                        <option value="25">25</option>
                                    </select>
                                <p> 피부 타입
                                    <select id="skin_type" class="tag_info" style="margin-left: 20px;">
                                        <option value="dry_skin">건성</option>
                                        <option value="oily_skin">지성</option>
                                        <option value="sensitive_skin">민감성</option>
                                        <option value="moisture_deficit_skin">수부지</option>
                                    </select>
                                </p>
                                <p> 퍼스널 컬러
                                    <!-- 퍼스널 컬러 테스트  -->
                                    <select id="pcolor" class="tag_info" style="margin-left: 6px;">
                                        <option value="spring_type">봄 웜톤</option>
                                        <option value="summer_type">여름 쿨톤</option>
                                        <option value="autumn_type">가을 웜톤</option>
                                        <option value="winter_type">겨울 쿨톤</option>
                                    </select>
                                </p>
                            </div>
                        </div>

                        <div class="button">
                            <button style="margin-top: 10px;" class="btn" type="submit">정보수정</button>
                        </div>
                    </form>
                </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div>
                    <h6>회원 탈퇴</h6>
                    <a th:href="@{/member/delete}">회원 탈퇴 하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Account Update Area -->

<!-- Start Footer Area -->
<th:block th:replace="~{/layout/footer :: setContent(~{this::content} )}">
    <th:block th:fragment="content"/>
</th:block>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/main.js"></script>
</body>
<script>
    $(document).ready(function () {

        $("#updateMember").on("submit", function (event) {
            event.preventDefault(); // 폼 제출을 방지하여 기본 동작을 중단합니다.

            // 피부 색상, 피부 타입, 퍼스널 컬러 값 얻기
            var skinColor = $("#skin_color").val();
            var skinType = $("#skin_type").val();
            var pcolor = $("#pcolor").val();

            // Ajax를 사용하여 서버에 요청 수행
            $.ajax({
                type: "POST",
                url: "/tag/input",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({ skinColor: skinColor, skinType: skinType, pcolor: pcolor }),
                success: function(response) {
                    // 얻어온 TagDB의 PK를 hidden input으로 추가
                    $("#updateMember").append('<input type="hidden" name="tagId" value="' + response + '">');
                    // 폼 제출
                    $("#updateMember").unbind('submit').submit();
                    // 성공적인 응답 처리
                    alert("회원정보 수정이 완료되었습니다.");
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 500) {
                        // 500 에러가 발생한 경우 경고창을 띄우고 페이지를 리로드합니다.
                        alert(error);
                        // $("input[name='identity']").val("");
                        // $("input[name='identity']").focus();
                        return;
                    }
                }
            });
        });
    });
</script>
</html>