
<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Pick</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/images/favicon.svg}" rel="shortcut icon" type="image/x-icon">

    <!-- ========================= CSS here ========================= -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/LineIcons.3.0.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">

</head>

<body>
<th:block th:replace="~{/layout/menu :: setContent(~{this::content} )}">

    <th:block th:fragment="content"/>
    <!--[if lte IE 9]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
    </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->


</th:block>
<!-- Start Hero Area -->
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 custom-padding-right">
                <div class="slider-head">
                    <!-- Start Hero Slider -->
                    <div class="hero-slider">
                        <!-- Start Single Slider -->
                        <div class="single-slider"
                             style="background-image: url(/images/hero/slider-bg1.jpg);">
                            <div class="content">
                                <h2><span>New Product</span>
                                    비벨벳 플루이드 파운데이션
                                </h2>
                                <p>파운데이션의 섬세하고 예쁜 피부표현은 살리고 쉽고 자유롭게.<br>
                                도구 없이 슥- #얇은 커버</p>
                                <h3><span>판매가</span> 37,000원</h3>
                                <div class="button">
                                    <a th:href="@{/product/productDetail/142}" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slider -->
                        <!-- Start Single Slider -->
                        <div class="single-slider"
                             style="background-image: url(/images/hero/slider-bg2.jpg);">
                            <div class="content">
                                <h2><span>ALL NEW</span>
                                    워터뱅크 블루 히알루로닉 에센스 토너 중·건성용
                                </h2>
                                <p>건성/중성 피부에 적합한 포뮬라가 들뜬 각질로 거칠어진 피부를 부드럽게 케어하여 매끄러운 피부결로 개선해 줍니다.</p>
                                <h3><span>판매가</span> 32,000원 </h3>
                                <div class="button">
                                    <a th:href="@{/product/productDetail/198}" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slider -->
                    </div>
                    <!-- End Hero Slider -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner"
                             style="background-image: url('/images/hero/slider-bnr.jpg');">
                            <div class="content">
                                <h2>
                                    <span>Best Lip Care</span>
                                    립 슬리핑 마스크 EX 20g
                                </h2>
                                <h3>22,000원</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-6 col-12" th:if="${session.loginMember == null}">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner style2">
                            <div class="content">
                                <h2>아직 회원이 아니신가요?</h2>
                                <p>회원가입을 하고 Pick!의 서비스를 경험해 보세요</p>
                                <div class="button">
                                    <a class="btn" href="/member/join">회원 가입</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-6 col-12" th:if="${session.loginMember != null}">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner style2">
                            <div class="content">
                                <h2>Welcome to Pick!</h2>
                                <p>Pick!에 오신 걸 환영합니다!!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->

<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 12px;">

    <!--  로그인 안 했을 때는 제품 랜덤하게 보여주기  -->
    <div class="container" th:if="${session.loginMember==null}">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>제품들을 둘러 보세요</h2>
                    <p>pick!에 있는 제품들입니다</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" th:each="product: ${randomProducts}">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img th:src="@{'/images/products/' + ${product.id} + '.webp'}" alt="#">
                    </div>
                    <div class="product-info">
                        <span class="category" th:text="${product.subCategory.getName()}"></span>
                        <h4 class="title">
                            <a th:href="@{/product/productDetail/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
                        </h4>
                        <ul class="review">
                        </ul>
                        <div class="price">
                            <span th:text="${product.price}"></span>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        </div>
    </div>

    <!--  로그인 했을 때는 설문기반 추천  -->
    <div class="container" th:if="${session.loginMember!=null}">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>다른 고객님들은 이런 상품에 관심있어요</h2>
                    <p>고객님과 비슷한 연령대 & 성별의 다른 회원들이 위시리스트에 추가한 상품입니다</p>
                </div>
                <div>
                    <a th:href="@{/recommendation/recommendBySimilarMemberWishlist}">test</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" th:each="product: ${wishlistItemsByGenderAndAge}">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img th:src="@{'/images/products/' + ${product.id} + '.webp'}" alt="#">
                        <div class="button">
                            <a th:href="@{/wishlist/add/{productId}(productId=${product.id})}" class="btn"><i class="lni lni-heart"></i></i>위시리스트</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category" th:text="${product.subCategory.getName()}"></span>
                        <h4 class="title">
                            <a th:href="@{/product/productDetail/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
                        </h4>
                        <ul class="review">
                        </ul>
                        <div class="price">
                            <span th:text="${product.price}"></span>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        </div>
    </div>
</section>
<!-- End Trending Product Area -->

<!-- footer -->
<th:block th:replace="~{/layout/footer :: setContent(~{this::content} )}">

    <th:block th:fragment="content"/>
</th:block>
<!-- End footer -->



<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/glightbox.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
    //========= Hero Slider
    tns({
        container: '.hero-slider',
        slideBy: 'page',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 0,
        items: 1,
        nav: false,
        controls: true,
        controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
    });

    //======== Brand Slider
    tns({
        container: '.brands-logo-carousel',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 15,
        nav: false,
        controls: false,
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 3,
            },
            768: {
                items: 5,
            },
            992: {
                items: 6,
            }
        }
    });
</script>
</body>

</html>